<h1>Burger Time!</h1>

<h2>Add a burger</h2>
<div class="row justify-content-center bottom">
		<div class="col-md-5">
			<form class="create-form">
				<div class="form-group">
					<input class="form-control form-control-lg" type="text" name="burger_name" id="burgerInfo" placeholder="Add a Burger!">
					<br>
          <div class="col-md-12 text-center"> 
					<button type="submit" class="btn btn-primary btn-lg burger-button">Submit</button>
				</div>
        </div>
			</form>
		</div>
	</div>


<div class="container">
  <div class="row">
    <div class="col">
      <div class="card text-center">
  <div class="card-header">
    Burgers Ready to be Devoured
  </div>
  <div class="card-body">
    <h5 class="card-title">Click a Burger to eat it.</h5>
    <p class="card-text"> {{#each burgers}}
    {{#unless devoured}}
     {{> burgers/burger-block devoured=true}}</p>
    {{/unless}}
  {{/each}}</p>
  </div>
</div>
    </div>
    <div class="col">
     <div class="card text-center">
  <div class="card-header">
    Devoured Burgers
  </div>
  <div class="card-body">
    <p class="card-text">  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}</p>
  </div>
</div>

    </div>
  </div>
</div>
{{!-- <h2>Add a burger</h2>
<div class="row justify-content-center bottom">
		<div class="col-md-5">
			<form class="create-form">
				<div class="form-group">
					<input class="form-control form-control-lg" type="text" name="burger_name" id="burgerInfo" placeholder="Add a Burger!">
					<br>
					<button type="submit" class="btn btn-primary btn-lg burger-button">Submit</button>
				</div>
			</form>
		</div>
	</div> --}}
